@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Главная страница */

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
}

.visually-hidden {
  position: absolute;
  transform: scale(0);
}

/* Изменяем встроенные стили браузера. Можно создать класс paragraph */
p {
  margin: 0;
}

.button {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  box-sizing: border-box;
}

.button-dark {
  background-color: #756157;
}

.button-light {
  background-color: #82b3d3;
}

.links {
  text-decoration: none;
}

.roster {
  padding-left: 0;
  list-style: none;
}

.page-header,
.inner-header {
  display: grid;
  grid-template-columns: auto 2fr auto;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
}

.header-logo {
  width: 140px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation-item {
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 24px 19px;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 450px;
  margin-right: 70px;
  min-width: 44px;
  min-height: 64px;
}

.welcome {
  display: flex;
  justify-content: center;
  padding: 50px 0 80px;
  background-color: #ffffff;
  background-image: url(../images/catalog/divider.svg), url("../images/mountains-background.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
}

.mark-headings {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.welcome-title {
  width: 620px;
}

.welcome-description {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 69px;
}

.color-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 69px;
}

.advantages-title {
  display: flex;
  margin: 0;
  padding-bottom: 62px;
  position: relative;
  text-transform: uppercase;
  justify-content: center;
}

.advantages-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  position: absolute;
  bottom: 30px;
  background-color: #000000;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 21px 0 0;
}

.advantages-item-city {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #82b3d3;
  width: 400px;
  padding: 112.5px 85px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 112.5px 85px;
  height: 385px;
  box-sizing: border-box;
}

.advantages-item:first-of-type,
.advantages-item:last-of-type {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 0;
}

.advantages-item:first-of-type .advantages-title::after,
.advantages-item:last-of-type .advantages-title::after {
  background-color: #ffffff;
}

.advantages-light {
  background-color: #83b3d31f;
}

.advantages-dark {
  color: #000000;
  background-color: #83b3d333;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advices-title {
  margin-top: 64px;
}

.advices-list {
  display: flex;
}

.advices-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 385px;
  padding-left: 85px;
  padding-right: 85px;
}

.advices-title-item {
  text-transform: uppercase;
}

.advices-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 64px;
}

.advices-description-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search {
  padding-bottom: 96px;
}

.search-title {
  margin-top: 69px;
}

.search-link {
  margin: 0 462px 0 462px;
  display: block;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe {
  padding: 96px 0 104px;
  color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
  border: none;
}

.search-description,
.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  padding: 8px 50px;
  text-transform: uppercase;
}

.page-footer,
.inner-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  background-color: #ffffff;
}

.footer-contact-phone {
  padding-top: 35px;
  padding-bottom: 45px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

/* Модальное окно */

.modal-label {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.modal-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal-error {
  color: #ff5757;
}

.modal-field {
  font-size: 18px;
  line-height: 24px;
}

.modal-group-count {
  font-size: 18px;
  line-height: 20px;
}

.hint {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #0000004d;
}

.modal-submit {
  font-size: 20px;
  line-height: 24px;
}

/* Страница каталога */

.main-inner {
  margin: 0 auto;
  max-width: 1200px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.inner-catalog {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  color: #ffffff;
  background-image: url("../images/catalog/mountains-inner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inner-header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 10px;
  align-items: baseline;
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-hotels {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 1200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-title {
  display: flex;
  margin: 8px 0 40px;
  padding: 0;
  gap: 10px;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 5px;
}

.catalog-filter-group {
  display: grid;
  grid-template-columns: 150px 43px 2fr;
  gap: 10px;
  border: none;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 10px;
  list-style: none;
}

.catalog-filter-cost {
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
  gap: 15px;
  border: none;
  border-radius: 5px;
}

.filter-input {
  display: flex;
  gap: 10px;
  font-weight: 700px;
  font-size: 18px;
  line-height: 24px;
  align-items: start;
  border: none;
}

.filter-item-input {
  width: 143px;
  height: 48px;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.ranges-slider {
  position: relative;
  width: 287px; /* Ширина слайдера */
  height: 0; /* Высота 0, как на макете */
}

/* Общий стиль для ползунков */
.min-input-ranges,
.max-input-ranges {
  position: absolute;
  left: 0;
  width: 100%;
  appearance: none; /* Убираем стандартный стиль */
}

/* Стиль трека (линии) */
.min-input-ranges::-webkit-slider-runnable-track,
.max-input-ranges::-webkit-slider-runnable-track {
  height: 4px; /* Толщина линии */
  background: #ffffff; /* Белая линия */
  border-radius: 4px;
}

/* Стиль ползунков */
.min-input-ranges::-webkit-slider-thumb,
.max-input-ranges::-webkit-slider-thumb {
  appearance: none;
  width: 20px; /* Размер ползунка */
  height: 20px;
  background: #ffffff; /* Белый цвет */
  border-radius: 5%;
  cursor: pointer;
  pointer-events: all; /* Оставляем возможность взаимодействия */
  z-index: 2;
}

.min-input-ranges::-moz-range-thumb,
.max-input-ranges::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 70%;
  cursor: pointer;
  pointer-events: all;
}


.button-catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.catalog-filter-submit,
.catalog-filter-reset {
  padding: 8px 50px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.catalog-filter-reset{
  border: medium none;
  background-image: none;
  background: transparent;
  float: right;
  background-color: transparent;
}

.choice-input {
  font-size: 18px;
  line-height: 23px;
}

.catalog-head {
  display: flex;
  flex-direction: column;
  margin: 50px 70px 40px;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  text-align: start;
  margin: 0 auto 0 0;
}

.catalog-view-list {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 16px;
  margin-right: 8px;
  border-radius: 4px;
}

.catalog-hotel-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.catalog-hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-hotel-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  width: 340px;
}

.catalog-filter-caption {
  font-weight: 700;
}

.button-select {
  background-color: #7db54f;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list {
  display: flex;
  padding: 16px;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link-current,
.pagination-more {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link,
.pagination-more {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 13px;
  text-decoration: none;
}
